  apiKey=  AIzaSyAl33_4dSZ6WJO6GvhglxQpXfClKoylZ3A  
  authDomain=  journaling-app-530c2.firebaseapp.com  
  projectId=  journaling-app-530c2  
  storageBucket=  journaling-app-530c2.firebasestorage.app  
  messagingSenderId=  217101566844  
  appId=  1=217101566844=web=c08359f6f66a025e8a9af9  
  measurementId=  G-1ZV7YQZY49 